<h2><%= l(:label_room_create) %></h2>


<%= form_for  [ :project, :team10, @room ] do |f| %>

    <%= render 'form', f: f, readonly_option: false   %>

<% end %>


<hr>

<%= link_to l(:label_room_list), { :action => 'index' } %>